* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(104, 1, 1);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4%;
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
}

h1 {
    margin-top: 10%;
    margin-bottom: 3%;
    color: white;
}

button {
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 238, 0);
    width: 110px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover { 
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

select {
    border: none;
    border-radius: 20px;
    width: 130px;
    height: 20px;;
    background-color: rgb(29, 70, 13);
    color: white;
}

input {
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 170px;
    height: 30px;
    padding: 10px;
    margin-bottom: 5px;
}